.bannerimage {
  min-height: 100vh;
  width: 100%; 
  background-size: cover; 
  background-repeat: no-repeat;
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: -150px;
  margin-bottom: 120px;
}
.contactimage {
  min-height: 100vh;
  width: 100%; 
  background-size: cover; 
  background-repeat: no-repeat;
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: -150px;
  margin-bottom: 120px;
}
.mainText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.form-control {
	background-color: lightgray;
}